<%- include('./partials/head.ejs') %> 
<%- include('./partials/nav.ejs') %> 

    <section style="background-color: #ffff; height: 80vh;">
        
        <div class="container" style="padding: 60px 0px" >
            <div class="row">
                <div class="col-md-6 d-flex align-items-center justify-content-center">
                    <h1 style="font-size: 70px;"> 404 </h1>                     
                </div>
                <div class="col-md-6">
                    <img src="/img/404.webp" alt="404 not found" width="100%">
                </div>
            </div>
        
    
        </div>
   
    </section>

<%- include('./partials/footer.ejs') %> 
